__pycache__/Analytics.cpython-312.pyc
__pycache__/Completions.cpython-312.pyc
__pycache__/DataPersistence.cpython-312.pyc
__pycache__/Habit.cpython-312.pyc
__pycache__/InteractiveMenu.cpython-312.pyc
__pycache__/TUI.cpython-312.pyc
__pycache__/User.cpython-312.pyc
